/* 这个 CSS 专门针对博客作者信息页来设置样式 */

/* 大标题 */
.contact {
    position: absolute;
    font-size: 30px;
    left: 35%;
    top: 95px;
}
/* 人物名称 */
.person {
    position: absolute;
    font-size: 15px;
    left:35%;
    top: 160px;
}
/* 详细信息 */
.detail {
    position: absolute;
    font-size: 15px;
    left: 36%;
    top: 200px;
}
